
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Already Scanned</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title text-center" >QR Code Already Scanned</h1>
                        <p class="card-text text-center">This QR code has already been scanned before.</p>
                        <img src="/images/x.jpg" alt="saved Image" class="img-fluid center-image" style="position: center; margin-left:70px;">
                        <div class="text-center">
                            <a href="/ScanQrCode" class="btn btn-primary">Scan Code</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
