
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Dont Exist</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Error</h1>
                        <p class="card-text text-center">The QR code is not valid or does not exist in the database.</p>
                        <img src="/images/fail.jpeg" alt="Decline Image" class="img-fluid center-image" style="position:center;height:250px;width:250px;margin-left:120px;">
                        <br /> <br />
                        <div class="text-center">
                            <a href="/ScanQrCode" class="btn btn-primary">Scan Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
