
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>New Scan</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">New Scan Detected</h1>
                        <p class="card-text text-center">This is the first time this QR code has been scanned.</p>
                        <p class="card-text text-center">The scan has been recorded.</p>
                        <img src="/images/scanned.jpg" alt="scanned Image" class="img-fluid center-image" style="position:center;width:300px;height:280px;margin-left:50px;">

                        <div class="text-center">
                            <a href="/ScanQrCode" class="btn btn-primary">Scan  Code</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

